<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experience</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">February 2025 – Present</div>
                        <h3 class="timeline-title">Automation Engineer</h3>
                        <h4 class="timeline-subtitle">LG Soft India, Bangalore</h4>
                        <p class="timeline-description">
                            Architected a Java-based Smart TV automation framework containerized with Docker and deployed via CI/CD pipelines (Jenkins, GitHub Actions), enabling 1000+ parallel test executions and reducing manual testing time by 60%.<br><br>
                            Engineered a MySQL-driven test scheduler that dynamically allocates test cases to available TVs, optimizing hardware utilization by 40% and ensuring seamless high-volume testing.<br><br>
                            Integrated LLM-powered image recognition using Python and OpenCV to automate visual validation, boosting QA accuracy by 30% and streamlining Smart TV testing workflows.
                        </p>
                    </div>
                </div>


                <!--
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">June 2016 - Present</div>
                        <h3 class="timeline-title">Developer</h3>
                        <h4 class="timeline-subtitle">IBM | Ex - Cardinal Health | Ex - Cognizant</h4>
                        <p class="timeline-description">
                            Worked on enterprise-level applications across healthcare, retail, and tech domains. Specialized in backend development using Java and Spring Boot, collaborated on full-stack projects, and delivered scalable, high-performance solutions in Agile environments.
                        </p>
                    </div>
                </div>
            -->

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-clapperboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">August 2024 - December 2024</div>
                        <h3 class="timeline-title">AI Intern</h3>
                        <h4 class="timeline-subtitle">Soven Developer</h4>
                        <p class="timeline-description">
                            Optimized machine learning models and algorithms, enhancing AI system performance by 25% and reducing error rates by 15%. Collaborated closely with cross-functional teams to ensure 100% on-time delivery of AI-integrated project components, driving a 20% improvement in overall project efficiency.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">May 2024 - June 2024</div>
                        <h3 class="timeline-title">Front End Software Intern</h3>
                        <h4 class="timeline-subtitle">Skyscanner Company</h4>
                        <p class="timeline-description">
                            Contributed to the development of high-performance web interfaces, optimizing load times by 20% and ensuring consistent performance across all devices. Enhanced code reusability and streamlined development workflows, reducing redundant efforts by 50%. Spearheaded improvements that cut overall development time by 35%, accelerating delivery and boosting team productivity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>